<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:jsp="http://java.sun.com/xml/ns/javaee/jsp"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="WebApp_ID" version="3.0">
	<display-name>Share my trip [23]</display-name>
	<context-param>
		<param-name>logLevel</param-name>
		<param-value>DEBUG</param-value>
	</context-param>
	<context-param>
	<param-name>javax.faces.PROJECT_STAGE</param-name>
	<param-value>Development</param-value>
	</context-param>
	<listener>
		<listener-class>uo.sdi.listener.LoggingInitialization</listener-class>
	</listener>
	<servlet>
		<servlet-name>Faces Servlet</servlet-name>
		<servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>Faces Servlet</servlet-name>
		<url-pattern>*.xhtml</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>/pages/index.xhtml</welcome-file>
	</welcome-file-list>
	<!-- 
	<jsp-config>
		<taglib>
			<taglib-uri>http://www.uniovi.es/sdi/navigation</taglib-uri>
			<taglib-location>/WEB-INF/tags/navigation.tld</taglib-location>
		</taglib>
		<taglib>
			<taglib-uri>http://www.uniovi.es/sdi/templating</taglib-uri>
			<taglib-location>/WEB-INF/tags/templating.tld</taglib-location>
		</taglib>
		<taglib>
			<taglib-uri>http://www.uniovi.es/sdi/date</taglib-uri>
			<taglib-location>/WEB-INF/tags/dateFormatting.tld</taglib-location>
		</taglib>
	</jsp-config>
	 -->
</web-app>